@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  /* box-sizing: border-box; */
  /* --bg-color-purple: 5
  --bg-color-blue: 5
  --bg-color-green: 5 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  background-image: linear-gradient(#8668cc, #5086c4, #64ab71);
  background-attachment: fixed;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

.wrapper {
  background-image: linear-gradient(#a5a6df 1px, transparent 0),
    linear-gradient(90deg, #a5a6df 1px, transparent 0);
  background-size: 30px 30px;
  background-attachment: fixed;
  display: grid;
  gap: 5px;
  grid-template-columns:
    minmax(20px, auto) minmax(300px, 1000px) minmax(200px, 250px)
    minmax(20px, auto);
  grid-template-rows: minmax(10px, 20px) auto minmax(10px, 20px);
  min-height: 100vh;
}

.main,
.nav {
  grid-row: 2/3;
}

.main {
  grid-column: 2/3;
}

.nav {
  grid-column: 3/4;
  /* background-color: aqua; */
}

.cards-wrapper {
  /* display: flex;
  flex-wrap: wrap;
  gap: 5px; */

  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
}

.card {
  /* flex-grow: 1;
  flex-basis: 24%;
  flex-basis: content; */
  /* width: 240px; */
  /* max-width: 24%; */
  display: flex;
  flex-direction: column;
  /* background-color: #fee8ffcc; */

  border: 3px solid #c6a0fa;
  border-radius: 20px;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.1);
}

.card-title {
  display: flex;
  justify-content: space-between;

  background-color: #bff8c3;
  background-color: #bff8df;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
  border-bottom: 3px solid #c6a0fa;
  padding: 5px 10px;

  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  /* color: white; */
  color: #c2a5e5;
  /* color: #a276d7; */
  /* color: #6887c7; */
  /* color: #ccb3d2; */

  text-shadow: 1px 1px 0 #8668cc, 2px 2px 0 #fff;
  /* text-shadow: 3px 1px 0 #fff; */

  /* position: relative; */
}
/* 
.card-title span {
  padding-left: 20px;
}

.card-title span:nth-child(1):after {
  content: '';
  position: absolute;
  top: calc(50% - 16px / 2);
  left: 12px;
  /* background-color: red; */
/* background-image: url(../img/female.png);
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 16px;
}  */

.card-title.female,
.card-contact.female {
  background-color: #adebbe;
}
.card-title.male,
.card-contact.male {
  background-color: #d0ebad;
  /* background-color: #f3dae9; */
}

.card-content {
  flex-grow: 1;
  padding: 10px;
  background-image: linear-gradient(#fdeae1ff, #efd5f7cc, #c9cafabb);
  /* opacity: 0.5; */
}

.card-content.female {
  background-image: linear-gradient(#c9cafacc, #efd5f7cc, #fdeae1ff);
}

.card-img {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #bff8c3;
  border-color: #c2a5e5;
  border-width: 3px;
  border-style: solid;

  border-radius: 50%;
  margin: 0 auto 10px;

  transition: transform 0.3s;
}
.card p {
  color: #5d5b6a;
  color: #6c567b;
  color: #222120;
  color: #403350;
}
.card-field {
  display: flex;
  /* flex-direction: column;
  align-items: flex-end; */
  gap: 5px;
  align-items: baseline;
}

.card-field span {
  /* white-space: nowrap;
  
  text-overflow: ellipsis; */
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
}
.card-field-name {
  /* align-self: flex-start; */
  color: #5d5b6a;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: lowercase;
  width: 35px;
}
/* .card-contact {
  background-color: #bff8c3;
  background-color: #ebeaef;
  background-color: #d9d9cd;
  background-color: #ebf8bf;
  background-color: #89f393;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top: 3px solid #c6a0fa;

  text-transform: uppercase;
  font-weight: 900;
  color: white;
  color: #c2a5e5;
  color: #ccb3d2;
  color: #8668cc;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  text-shadow: 1px 1px 0 #c2a5e5, 2px 2px 0 #fff;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
} */
.card-contact {
  /* background-color: #bff8c3;
  background-color: #ebeaef;
  background-color: #d9d9cd; */
  /* background-color: #ebf8bf; */
  /* background-color: #89f393; */
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top: 3px solid #c6a0fa;

  display: flex;
  justify-content: space-between;
  justify-content: space-between;
}

.card-contact > a {
  /* flex: 1 0 50%; */
  display: block;
  /* color: #904d5f; */
  /* width: 50%; */
  /* text-align: center; */
  padding: 6px 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  color: white;
  color: #c2a5e5;
  color: #ccb3d2;
  color: #8668cc;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  text-shadow: 1px 1px 0 #c2a5e5, 2px 2px 0 #fff;
}

.card-contact a:nth-child(1) {
  /* border-right: 1px solid #c6a0fa; */
}

.nav {
  min-height: 200px;
  align-self: flex-start;
  background-image: linear-gradient(#8668cc, #5086c4, #64ab71);
  border: 3px solid #6887c7;
  border-radius: 20px;
  padding: 10px;

  text-align: center;
}

fieldset {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  position: relative;

  /* padding: 5px 0; */
}

input {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-appearance: none;
  -moz-appearence: none;
  appearance: none;
}

label {
  cursor: pointer;

  display: inline-block;
  padding: 2px;
  /* display: flex; */
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 5px 10px;
  transition: transform 0.2s, background-color 0.2ms;
  background-color: rgba(255, 255, 255, 0.3);

  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  /* color: white; */
  color: #b48be6;
  /* color: #a276d7; */
  /* color: #6887c7; */
  color: #714ace;
  text-align: center;
  text-shadow: 1px 0px 0 #b48be6, 2px 0px 0 #fff;
  transition: border 0.3s;
}

label:hover {
  border: 3px solid #9850fd;
}

fieldset > * {
  flex-grow: 1;
  flex-basis: 50%;
}

input:checked + label {
  border: 3px solid #9850fd;
  background-image: linear-gradient(#adebbe, #d0ebad);
}

.search-field {
  position: relative;
  background-color: transparent;
  flex-basis: 100%;
  width: 100%;
  display: block;
  color: white;
  padding: 1px 5px 0;

  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  /* font-weight: 900; */
  /* color: white; */
  /* color: #b48be6; */
  /* color: #a276d7; */
  /* color: #6887c7; */
  /* color: #714ace; */
  /* text-align: center; */
  text-shadow: 1px 0px 0 #b48be6;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid #333;
}

.btn-reset {
  align-self: center;
  /* display: block; */
  margin: 5px auto;

  cursor: pointer;

  display: inline-block;
  padding: 2px;
  /* display: flex; */
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 5px 10px;
  transition: transform 0.2s, background-color 0.2ms;
  background-color: rgba(255, 255, 255, 0.3);
  /* background-image: linear-gradient(#adebbe, #d0ebad); */

  text-transform: uppercase;
  font-size: 17px;
  font-weight: 900;
  /* color: white; */
  color: #b48be6;
  /* color: #a276d7; */
  color: #527aca;
  /* color: #714ace; */
  text-align: center;
  text-shadow: 1px 0px 0 #fff;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  transition: border 0.3s, background-color 0.3s;
}

.btn-reset:hover {
  border: 3px solid #6887c7;
  color: #527aca;
  background-color: rgba(255, 255, 255, 0.5);
}
